*{
    margin: 0;
}
body{
    background-color: rgb(206, 206, 206); 
}
.hello{
    height: 100vh;
    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../images/pink.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;    
}
button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    margin: 20px auto 0 auto;
}
header{
    text-align: center;
    height: 50px;
    padding-top: 20px;
    background-color: rgb(27, 9, 39);
    color: white;
}